*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body {
    background-color: #00AB9D;
}

.header {
    background-color: #00C4B4;
    padding: 1em;
}

.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 2.5em;
}

.titulo-table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1.5em 0 0.5em 1.3em;
    font-size: 2.5em;
    color: white;
}

.tabela-roupas {
    margin-left: 3em;
    width: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


.header-table-preco, .header-table-tamanho, .header-table-produto{
    background-color: #BB86FC;
    color: white;
    padding: 4px 0 4px 10px;
    font-size: 1.5em;
    border-radius: 2px;
    text-align: start;
}

.row-conteudo {
    background-color: #424250;
    color: white;
}

.conteudo-produto, .conteudo-tamanho, .conteudo-preco {
    padding: 8px 0 8px 10px;
    text-align: start;
    font-size: 1.5em;
}

.conteudo-tamanho {
    text-align: center;
}
